/* Customizam Bootstrap */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #2bb686;
  border-color: #2bb686;
}

.text-primary {
  color: #101d42 !important;
}

.text-secondary {
  color: #fbb44c !important;
}

.text-light {
  color: #eaeaea !important;
}

.bg-primary {
  background-color: #141e4c !important;
}

.bg-secondary {
  background-color: #dfedf5 !important;
}

.bg-dark {
  background-color: #101d42 !important;
}

h1,
h2,
h3 {
  font-weight: bold;
}

/* Adaugam font-ul nostru */
body {
  font-family: "Poppins", sans-serif;
}

/* Layout */
body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Header */
header {
  height: 30vh;
}

.col1{
  margin-left: -25px;
}

.col1-elements{
  list-style-type: none;
}

.col1-elements li{
  display: flex;
  font-size: 1.5rem;
}

.temperature{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.col2-elements{
  list-style-type: none;
  padding-bottom: 5px;
}

.current-weather{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.real-feel{
  font-size: 1.25rem;
}

.sky{
  font-size: 1.25rem;
}

.wind{
  font-size: 1.25rem;
}

.city-name strong{
  font-size: 2rem;
}

.city-name{
  margin-bottom: 7px;
}

.date-and-time strong{
  font-size: 1.5rem;
}

.date-and-time p{
  margin-left: 10px;
}

.temperature strong{
  font-size: 2.5rem;
}

.real-feel strong{
  font-size: 1.25rem;
}

.date-and-time{
  margin-bottom: -15px;
}

.col2-elements li{
  margin-bottom: 15px;
  text-transform: capitalize;
}

.col2{
  margin-left: -20px;
}

.weather-forecast-card-container{
 width: 100%;
 max-width: 1500px;
 border: 1px solid #dee2e6;
 border-radius: 0.25rem;
 padding: 20px;
 margin-bottom: 20px;
}

.weather-forecast-day strong{
  color: #101d42;
  font-weight: bold;
  font-size: 1.75rem;
}

.weather-forecast-card-temperature strong{
  font-size: 1.75rem;
}

.scroll-to-top-button{
  position: fixed;
  bottom: 15px;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #101d42;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.scroll-to-top-button-show{
  display: flex;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#up-arrow{
  color: white;
}

.row div{
  display: flex;
  justify-content: center;
  align-items: center;
}